{# templates/sorteo/euromillones.html.twig #}
{% extends 'sorteo/estructuraBase.html.twig' %}
{% block titulo %}Euromillones{% endblock %}
{% block contenido %}
<h1>Apuesta de euromillones</h1>
<h2>Números</h2>
<ul>
{% for i in 0..4 %}
    <li>{{ apuesta[i] }}</li>
{% endfor %}
</ul>
<h2>Estrellas</h2>
<ul>
{% for i in 5..6 %}
    <li>{{ apuesta[i] }}</li>
{% endfor %}
</ul>
{% endblock %}
{% block sidebar %}
  {{ include('sorteo/menu.html.twig', { 'seccionActual': "euromillones" }) }}
{% endblock %}